.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #181818;
}

.mainCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vw;
  background-color: #42434b;
  border-radius: 50%;
  --solve-progress: 0;
  --accent: rgb(212, 0, 184, calc(var(--solve-progress) + 0.25));
}

.innerCircle {
  position: absolute;
  border: none;
  width: 5vw;
  aspect-ratio: 1;
  background-color: #2a2c2e;
  border: 1px solid rgba(41, 41, 41);
  border-radius: 50%;
  --blur: calc(var(--solve-progress) * 15px);
  --range: calc(var(--solve-progress) * 7.5px);
}

.centre-rune {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgba(41, 41, 41);
  background: radial-gradient(var(--accent) calc(var(--solve-progress)*60%), rgba(72, 171, 224, 0.012) calc(var(--solve-progress)*100%));

}

.lit {
  composes: innerCircle;
  background-color: var(--accent);
  box-shadow: 0px 0px var(--blur) var(--range) var(--accent);
}

@media (max-width: 600px) {
  .mainCircle {
    width: 85vw;
    height: 85vw;
  }

  .innerCircle {
    width: 12vw;
  }

  .innerCircle[style*="translateY(-20vw)"] {
    transform: rotate(var(--rotation)) translateY(-35vw) !important;
  }
}

.solved {
  animation: smooth-blink 0.5s alternate;
  animation-iteration-count: 5;
}

@keyframes smooth-blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}