.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.mainCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vw;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.innerCircle {
  position: absolute;
  border: none;
  width: 5vw;
  aspect-ratio: 1;
  background-color: #2a2c2e;
  border-radius: 50%;
}

.lit {
  composes: innerCircle;
  background-color: rgb(212, 0, 184);
}